<a href="https://colab.research.google.com/github/angona-biswas/Lab-Report_1608028/blob/main/ID_1608028_Lab_Report_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Chittagong University of Engineering & Technology**


*Department of*

# Electronics & Telecommunication Engineering

Course Code: ETE 456

Course Title: Machine Learning Sessional

Report No.: 1

Experiment Name: Implementation of different types of Regression to solve a pericular task  

**Pericular task **

Experiment Date: 25.11.2021

Submission Date: 20. 12. 2021

Submitted To:  Lecturer, Eftekhar Hossain

Submitted By: 



	Name: Angona Biswas
	  ID: 1608028
     Level: 4
     Term: II


> **OBJECTIVES:** 
 1. To gather knowledge about different regression algorithms. 
 2. To solve a regression problem using python.

 > **KEY FINDINGS OF THIS EXPERIMENT:**

 The workflow of this experiment is written using bullet points: 
 1. Importing the functions, dataset load, dataset read.
 2. Data Preprocessing: Checking the missing value of the dataset and handling the missing values if there is.
 3. Declaring features and target of this dataset.
 4. Data Preprocessing: Encoding the categorical data using One Hot Encoding and Level Encoding. Declaring the new converted features again for clasification. 
 5. Data Spliting for training and test, where 80% data is taken for training and 20% data for test. 
 6. Fitting the regression models (Logistic Regession, Support Vector Regression, Decision Tree Regression, Random Forest Regression) for  train dataset.
 7. Making prediction based on these models with test data and using the evaluation parameters for regression. 
 11. Conclude the all types of analysis at the 'CONCLUSION' section. 


 
 
**CODE AND OUTPUTS:**

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
import numpy as np        
import pandas as pd     
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler

In [ ]:
# Firstly, need to download the data
!wget -O insurance.csv https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0

--2021-11-26 10:00:04--  https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.3.18, 2620:100:601f:18::a27d:912
Connecting to www.dropbox.com (www.dropbox.com)|162.125.3.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/mwgqgjbmfw0xa5p/insurance.csv [following]
--2021-11-26 10:00:05--  https://www.dropbox.com/s/raw/mwgqgjbmfw0xa5p/insurance.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc83f3d79ca4ee19e85e4bf122dc.dl.dropboxusercontent.com/cd/0/inline/BauP5sNE_tZ9EQfBVj-DNHr3BVb1-fkFNi5j0r90FaikOaZ0jblb3F5jnHfl23quSY9PW9KLmefxemMlF77MgtvpFgkg4sDfhb0pkuren8ytpiTmxmv82srRYDP24Idq0MOPmw8SVcS4txMWCIgTsGcK/file# [following]
--2021-11-26 10:00:05--  https://uc83f3d79ca4ee19e85e4bf122dc.dl.dropboxusercontent.com/cd/0/inline/BauP5sNE_tZ9EQfBVj-DNHr3BVb1-fkFNi5j0r90FaikOaZ0jblb3F5jnHfl23quSY9PW9KLmefxemMlF77MgtvpFgkg4sDfhb0pkuren8ytpiTmxmv82srRYDP24Idq0MOPmw8SVcS4txMWCIgTsGcK/file
Resolving uc83f3d79ca4ee19e85e4bf122dc.dl.dropboxusercontent.com (uc83f3d79ca4ee19e85e4bf122dc.dl.dropboxusercontent.com)... 162.125.3.15, 2620:100:6018:15::a27d:30f
Connecting to uc83f3d79ca4ee19e85e4bf122dc.dl.dropboxusercontent.com (uc83f3d79ca4ee19e85e4bf122dc.dl.dropboxusercontent.com)|162.125.3.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55628 (54K) [text/plain]
Saving to: ‘insurance.csv’

insurance.csv       100%[===================>]  54.32K  --.-KB/s    in 0.04s

2021-11-26 10:00:05 (1.46 MB/s) - ‘insurance.csv’ saved [55628/55628]

In [ ]:
# Second step is to import the dataset or to read the dataset
dataset = pd.read_csv('insurance.csv')
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
#Print the colum name
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [ ]:
# Declare the features and target of the dataset
feature = dataset[['age', 'sex', 'bmi', 'children', 'smoker', 'region']] 
target = dataset[['charges']]

In [ ]:
# Print the feature column
feature

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [ ]:
#Print the target column
target

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [ ]:
# Encode the categorical data using One Hot Encoding 
encoder=OneHotEncoder(sparse=False)
encoded_labels = pd.DataFrame (encoder.fit_transform(feature[['sex', 'smoker', 'region']]))

In [ ]:
encoded_labels.columns = encoder.get_feature_names(['sex', 'smoker', 'region'])
dataset_1= pd.concat([feature, encoded_labels ], axis=1)

In [ ]:
dataset_1

      age     sex     bmi  ...  region_northwest region_southeast region_southwest
0      19  female  27.900  ...               0.0              0.0              1.0
1      18    male  33.770  ...               0.0              1.0              0.0
2      28    male  33.000  ...               0.0              1.0              0.0
3      33    male  22.705  ...               1.0              0.0              0.0
4      32    male  28.880  ...               1.0              0.0              0.0
...   ...     ...     ...  ...               ...              ...              ...
1333   50    male  30.970  ...               1.0              0.0              0.0
1334   18  female  31.920  ...               0.0              0.0              0.0
1335   18  female  36.850  ...               0.0              1.0              0.0
1336   21  female  25.800  ...               0.0              0.0              1.0
1337   61  female  29.070  ...               1.0              0.0              0.0

[1338 rows x 14 columns]

In [ ]:
# Primt the new dataset columns
dataset_1.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'sex_female',
       'sex_male', 'smoker_no', 'smoker_yes', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [ ]:
# Print the new features which is taking for regression algorithm input

new_features = dataset_1[['age', 'bmi', 'children', 'sex_female',
       'sex_male', 'smoker_no', 'smoker_yes', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest']]

In [ ]:
# Check the missing value of the dataset 
# Check the each column 
dataset_1[pd.isnull(dataset_1.age)]
dataset_1[pd.isnull(dataset_1.bmi)]
dataset_1[pd.isnull(dataset_1.children)]

Empty DataFrame
Columns: [age, sex, bmi, children, smoker, region, sex_female, sex_male, smoker_no, smoker_yes, region_northeast, region_northwest, region_southeast, region_southwest]
Index: []

In [ ]:
# There is no NaN value or missing data. That means dataset doesn't need missing data handling

In [ ]:
# Data splitting 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(new_features,target,test_size = 0.2,random_state = 0)

In [ ]:
# Print the test and train shape 
print(X_train.shape)
print(X_test.shape)

(1070, 11)
(268, 11)

In [ ]:
# Print the train data
X_train

      age     bmi  ...  region_southeast  region_southwest
621    37  34.100  ...               0.0               1.0
194    18  34.430  ...               1.0               0.0
240    23  36.670  ...               0.0               0.0
1168   32  35.200  ...               0.0               1.0
1192   58  32.395  ...               0.0               0.0
...   ...     ...  ...               ...               ...
763    27  26.030  ...               0.0               0.0
835    42  35.970  ...               1.0               0.0
1216   40  25.080  ...               1.0               0.0
559    19  35.530  ...               0.0               0.0
684    33  18.500  ...               0.0               1.0

[1070 rows x 11 columns]

In [ ]:
# Fit the train data for Linear Regression model
regressor = LinearRegression()
regressor.fit(X_train,y_train)

# Predicting the Test Set 
y_pred = regressor.predict(X_test)

In [ ]:
# Performance Evaluation of Test data using Evvakuation Metrices
#1 Mean Absolute Error (MAE)
#2 Mean Squared Error (MSE)
#3 R-Squared Erro
print (mean_absolute_error(y_test, y_pred))
print (mean_squared_error(y_test, y_pred))
print (r2_score(y_test, y_pred))

3933.272649405239
31827950.229523838
0.7999876970680433

In [ ]:
# Fit the train data for Support Vector Regression model
# kernel{‘linear’, ‘poly’, ‘rbf’, ‘sigmoid’, ‘precomputed’}, default=’rbf’
#regressor = SVR(kernel = 'linear')
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train,y_train)

SVR()

In [ ]:
# Predicting the Test Set
y_pred = regressor.predict(X_test)

In [ ]:
# Performance Evaluation of Test data using Evaluation Metrices
#1 Mean Absolute Error (MAE)
#2 Mean Squared Error (MSE)
#3 R-Squared Error 
print (mean_absolute_error(y_test, y_pred))
print (mean_squared_error(y_test, y_pred))
print (r2_score(y_test, y_pred))

8575.606508027018
175668012.41945684
-0.10392794578718867

In [ ]:
# Fit the train data for Decision Tree Regression model
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [ ]:
# Predicting the Test Set
y_pred = regressor.predict(X_test)

In [ ]:
# Performance Evaluation of Test data using Evvakuation Metrices
#1 Mean Absolute Error (MAE)
#2 Mean Squared Error (MSE)
#3 R-Squared Erro
print (mean_absolute_error(y_test, y_pred))
print (mean_squared_error(y_test, y_pred))
print (r2_score(y_test, y_pred))

3022.047168391791
43585220.10885323
0.7261029948550859

In [ ]:
# Fit the train data for Random Forest Regression model
regressor = RandomForestRegressor(n_estimators = 10,random_state = 0) # n estiamator is the number of decision trees
regressor.fit(X_train,y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [ ]:
# Predicting the Test Set
y_pred = regressor.predict(X_test)

In [ ]:
# Performance Evaluation of Test data using Evaluation Metrices
#1 Mean Absolute Error (MAE)
#2 Mean Squared Error (MSE)
#3 R-Squared Erro
print (mean_absolute_error(y_test, y_pred))
print (mean_squared_error(y_test, y_pred))
print (r2_score(y_test, y_pred))

2774.0732032742535
21146373.711824056
0.8671125575394933

In [ ]:
# Similarly, for more analysis, using Label Encoding and after that using different regession models
# Encode the categorical data using Label Encoding 
encoder2=LabelEncoder()
#encoded_label_1 = encoder2.fit_transform((feature[['sex']]))
#encoded_label_2 = encoder2.fit_transform((feature[['smoker']]))
#encoded_label_3 = encoder2.fit_transform((feature[['region']]))
encoded_label_1 = pd.DataFrame (encoder2.fit_transform(feature[['sex']]))
encoded_label_2 = pd.DataFrame (encoder2.fit_transform(feature[['smoker']]))
encoded_label_3 = pd.DataFrame (encoder2.fit_transform(feature[['region']]))

In [ ]:
# Print the new features which is taking for regression algorithm input
feature_2 = dataset[['age', 'bmi', 'children']]

In [ ]:
# concatnate feature_2 with new encoded data columns
dataset_2 = pd.concat([feature_2, encoded_label_1, encoded_label_2, encoded_label_3], axis=1)

In [ ]:
dataset_2

      age     bmi  children  0  0  0
0      19  27.900         0  0  1  3
1      18  33.770         1  1  0  2
2      28  33.000         3  1  0  2
3      33  22.705         0  1  0  1
4      32  28.880         0  1  0  1
...   ...     ...       ... .. .. ..
1333   50  30.970         3  1  0  1
1334   18  31.920         0  0  0  0
1335   18  36.850         0  0  0  2
1336   21  25.800         0  0  0  3
1337   61  29.070         0  0  1  1

[1338 rows x 6 columns]

In [ ]:
# Print the new dataset columns
dataset_2.columns

Index(['age', 'bmi', 'children', 0, 0, 0], dtype='object')

In [ ]:
# Print the new features which is taking for regression algorithm input
new_features_2 = dataset_2[['age', 'bmi', 'children', 0 ]]
new_features_2

      age     bmi  children  0  0  0
0      19  27.900         0  0  1  3
1      18  33.770         1  1  0  2
2      28  33.000         3  1  0  2
3      33  22.705         0  1  0  1
4      32  28.880         0  1  0  1
...   ...     ...       ... .. .. ..
1333   50  30.970         3  1  0  1
1334   18  31.920         0  0  0  0
1335   18  36.850         0  0  0  2
1336   21  25.800         0  0  0  3
1337   61  29.070         0  0  1  1

[1338 rows x 6 columns]

In [ ]:
# Data splitting 
from sklearn.model_selection import train_test_split
X_train2,X_test2,y_train2,y_test2=train_test_split(new_features_2,target,test_size = 0.2,random_state = 0)

In [ ]:
# Fit the train data for Linear Regression model
regressor = LinearRegression()
regressor.fit(X_train2,y_train2)

# Predicting the Test Set 
y_pred2 = regressor.predict(X_test2)

# Performance Evaluation of Test data using Evvakuation Metrices
#1 Mean Absolute Error (MAE)
#2 Mean Squared Error (MSE)
#3 R-Squared Erro
print (mean_absolute_error(y_test2, y_pred2))
print (mean_squared_error(y_test2, y_pred2))
print (r2_score(y_test2, y_pred2))

3930.3332739011435
31845929.134159435
0.7998747145449959

In [ ]:
# Fit the train data for Support Vector Regression model
# kernel{‘linear’, ‘poly’, ‘rbf’, ‘sigmoid’, ‘precomputed’}, default=’rbf’
regressor = SVR(kernel = 'linear')
#regressor = SVR(kernel = 'rbf')
regressor.fit(X_train2,y_train2)

# Predicting the Test Set 
y_pred2 = regressor.predict(X_test)
# Performance Evaluation of Test data using Evvakuation Metrices
#1 Mean Absolute Error (MAE)
#2 Mean Squared Error (MSE)
#3 R-Squared Error
print (mean_absolute_error(y_test2, y_pred2))
print (mean_squared_error(y_test2, y_pred2))
print (r2_score(y_test2, y_pred2))

6664.9380353104125
173353840.55137214
-0.08938529250986194

In [ ]:
# Fit the train data for Decision Tree Regression model
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train,y_train)
y_pred2 = regressor.predict(X_test2)
# Performance Evaluation of Test data using Evvakuation Metrices
#1 Mean Absolute Error (MAE)
#2 Mean Squared Error (MSE)
#3 R-Squared Error
print (mean_absolute_error(y_test2, y_pred2))
print (mean_squared_error(y_test2, y_pred2))
print (r2_score(y_test2, y_pred2))

3677.748366600746
55907589.89705332
0.6486671078078935

In [ ]:
# Fit the train data for Random Forest Regression model
regressor = RandomForestRegressor(n_estimators = 10,random_state = 0) # n estiamator is the number of decision trees
regressor.fit(X_train2,y_train2)
y_pred2 = regressor.predict(X_test2)
# Performance Evaluation of Test data using Evvakuation Metrices
#1 Mean Absolute Error (MAE)
#2 Mean Squared Error (MSE)
#3 R-Squared Error
print (mean_absolute_error(y_test2, y_pred2))
print (mean_squared_error(y_test2, y_pred2))
print (r2_score(y_test2, y_pred2))

2630.154869391791
20234132.859576132
0.872845235653256

In [ ]:
# So, we get the result from these two encoding and different regression process: 
Using One Hot Encoding:
Linear Regression :- R-Squared Error : 0.7999876970680433
Support Vector Regression :- R-Squared Error : -0.10392794578718867
Decision Tree Regression :- R-Squared Error : 0.7261029948550859
Random Forest Regression :- R-Squared Error : 0.8671125575394933

Using Label Encoding:
Linear Regression :- R-Squared Error : 0.7999876970680433
Support Vector Regression :- R-Squared Error : -0.10392794578718867
Decision Tree Regression :- R-Squared Error : 0.6486671078078935
Random Forest Regression :- R-Squared Error : 0.872845235653256

In [ ]:
As for this dataset, Random forest regression model is performing well, 
we can make a correlation of features and the target columns. 
From that we can say, 'region' feature has the less ralation with target value 
and if we skip this column from feature, the outcome will be following:

In [ ]:
# Print the new features which is taking for regression algorithm input
#Using the features after One Ht Encoding 
new_features_again = dataset_1[['age', 'bmi', 'children', 'sex_female',
       'sex_male', 'smoker_no', 'smoker_yes']]

In [ ]:
# Data splitting 
from sklearn.model_selection import train_test_split
X_train_a,X_test_a,y_train_a,y_test_a=train_test_split(new_features_again,target,test_size = 0.2,random_state = 0)

In [ ]:
# Fit the train data for Linear Regression model
regressor = LinearRegression()
regressor.fit(X_train_a,y_train_a)

# Predicting the Test Set 
y_pred_a = regressor.predict(X_test_a)

# Performance Evaluation of Test data using Evvakuation Metrices
#1 Mean Absolute Error (MAE)
#2 Mean Squared Error (MSE)
#3 R-Squared Error
print (mean_absolute_error(y_test_a, y_pred_a))
print (mean_squared_error(y_test_a, y_pred_a))
print (r2_score(y_test_a, y_pred_a))

3939.7808069668263
32165826.643605124
0.7978644236809905

In [ ]:
# Fit the train data for Support Vector Regression model
# kernel{‘linear’, ‘poly’, ‘rbf’, ‘sigmoid’, ‘precomputed’}, default=’rbf’
regressor = SVR(kernel = 'linear')
#regressor = SVR(kernel = 'rbf')
regressor.fit(X_train_a,y_train_a)

# Predicting the Test Set 
y_pred_a = regressor.predict(X_test_a)

# Performance Evaluation of Test data using Evvakuation Metrices
#1 Mean Absolute Error (MAE)
#2 Mean Squared Error (MSE)
#3 R-Squared Error
print (mean_absolute_error(y_test_a, y_pred_a))
print (mean_squared_error(y_test_a, y_pred_a))
print (r2_score(y_test_a, y_pred_a))

6625.104059633094
170821530.0967599
-0.07347181890841581

In [ ]:
# Fit the train data for Decision Tree Regression model
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train_a,y_train_a)

# Predicting the Test Set 
y_pred_a = regressor.predict(X_test_a)

# Performance Evaluation of Test data using Evvakuation Metrices
#1 Mean Absolute Error (MAE)
#2 Mean Squared Error (MSE)
#3 R-Squared Error
print (mean_absolute_error(y_test_a, y_pred_a))
print (mean_squared_error(y_test_a, y_pred_a))
print (r2_score(y_test_a, y_pred_a))

3030.117267011194
42676467.74989327
0.7318137506781808

In [ ]:
# Fit the train data for Random Forest Regression model
regressor = RandomForestRegressor(n_estimators = 10,random_state = 0) # n estiamator is the number of decision trees
regressor.fit(X_train_a,y_train_a)

# Predicting the Test Set 
y_pred_a = regressor.predict(X_test_a)

# Performance Evaluation of Test data using Evaluation Metrices
#1 Mean Absolute Error (MAE)
#2 Mean Squared Error (MSE)
#3 R-Squared Error
print (mean_absolute_error(y_test_a, y_pred_a))
print (mean_squared_error(y_test_a, y_pred_a))
print (r2_score(y_test_a, y_pred_a))

2718.98546783209
21512808.634108923
0.8648098175844428

In [ ]:
That means without using the less correlated feature column, the maximum best R-Squared Error is 0.8648098175844428,
which is obtained from avoiding the less correlated feature.

In [ ]:
CONCLUSION: 

1. Different analysis is shown in this experiment using different encoding process and different regession model
2. For Support Vector Regression model, various 'Kernel' was used but linear kernel shown the less worst performance. 
3. Negative R-Squared Error value was obtained for Support Vector Regression model, which means the worst fitted line. 
4. For both of the encoding system, Random Forest Regression model performed the best.
5. From overall analysis, it can be said that random forest regression model performed best while label emcoding was done and all features were inclued.